.navbar {
    background-color: rgba(177, 31, 92, 0.164);
}

h2, h5 {
    text-align: center;
    color: rgb(184, 30, 94);
}

.carousel {
    background-color: aqua;
    transition: 0.5s; /*buscar como modificar la transicion del carusel y no del color*/
    width: 20%;
    margin: auto;
}

.col {
    background-color: rgba(177, 31, 92, 0.164);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}